*~
main.pdf
outline.pdf
.outline.md
tmp
*.aux
*.bak
*.bbl
*.blg
*.brf
*.drv
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.lor
*.lot
*.log
*.nav
*.nlo
*.out
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
.*.swp
.*.swo
*.tex-e
*.tex~
*.fdb_latexmk

